# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
build/

# Logs
logs/
*.log

# Environment variables
.env
.env.local
.env.*.local

# OS-specific
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Testing
coverage/
jest-html-reporters-*

# Misc
*.tgz
*.zip
*.DS_Store